@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,600,700|sans-serif:100,200,300,400,600,700');

html,
body {
    height: 100%;
    margin: 0;
    font-family: "Oswald"
}

.wrapper {
    min-height: 100%;

}

.wrapper:after {
    content: "";
    display: block;
}

.uppercase {
    text-transform: uppercase;
}


/*------------------header and logo-----------------*/

.bg-header {
    background-color: #F2F7F5;
}

.logo {
    width: 100%;
    padding-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
}

/*------------------nav bar-----------------*/

.list-style {
    display: contents;
}

.link-style a {
    color: #a4a4a4;

}

.link-style {
    text-align: center;
}

.link-effects a {
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
}

/*------------------section body-----------------*/

.bg-content-body {
    width: 100%;
    background-color: #E8F3F4;
}

.logo-image {
    height: 350px;
}

.column-section {
    padding: 40px;
    display: block;
}

.content-text {
    font-family: "oswald";
    font-weight: 500;
    text-align: center;
}


/*------------------about----------------*/

.row-size {
    width: 100%;
    margin: 20px auto 20px auto;
    border-bottom: 1px solid #ccc;
    padding: 10px 10px 10px 10px;
}

.about-team {
    margin: 0;
    text-align: center;
    font-family: "Oswald";
}

.about-source a {
    text-decoration: none;
    color: #a4a4a4;
    font-weight: 600;
}

.smooth-image {
    border-radius: 10%;
    width: 270px;
}


/*------------------footer----------------*/

.bg-footer-body {
    width: 100%;
    background-color: #F2F7F5;
}

.footer-text {
    margin-left: 2%;
    padding: 0px;
    width: 200;
}

.footer-social-media {
    margin-left: 50%;
    padding: 0px;
    width: 100px;
}

.inline-block {
    display: inline-block;
}

/*------------------media query----------------*/

@media (min-width:992px) {
    .section-column {
        padding: 30px;
        float: none;
        display: table-cell;
    }
}

@media (max-width:993px) {
    .responsive-image {
        height: 100%;
        width: 100%;
    }
    .responsive-text {
        height: auto;
        width: 100%;
    }
}

@media (min-width:411px) {}

}


/*------------------hover effects----------------*/

.link-effects a:hover {
    text-decoration: underline solid;
}
